*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    line-height: 1.4;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    height: 100%;
    bottom: 0;
}

.container {
    overflow: auto;
    width: 100%;
    background-color: white;
}

.navbar{
    background-color: white;
    width: 100%;


}

.navbar nav {
    position: fixed;
    display: flex;
    padding: 30px 0 0px;
    justify-content: space-evenly;
    z-index: 8;
    background-color: white;
    top: 0;
    width: 100%;
    padding-left: 13rem;
    padding-right: 13rem;
    height: 4.8rem;



}

nav div ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    cursor: pointer;
    padding-bottom: 20px;
}

nav div ul li:hover {
    border-bottom: 3px solid hsl(192, 70%, 51%);
}

button {
    outline: none;
    border-radius: 80px;
    color: white;
    font-size: 18px;
    width: 200px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin-top: -10px;
    background-image: linear-gradient(to right top, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
}

header {
    width: 100%;
    background-color: hsl(0, 0%, 98%);
    margin-top: 3px;
    height: 650px;
    /* top: -10px; */
}

.contain{
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
    margin-top: -50px;
}

.contain .contain-details{
    width: 100%;
    margin-top: 200px;
}


.contain .contain-details h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-primary{
    margin-top: 30px;
    color: white;
    font-size: 18px;
    background-image: linear-gradient(to right top, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
}


.contain-img {

    background-repeat: no-repeat;
    width: 100%;
    margin-right: -380px;
    margin-bottom: -40px;
    background-position: right;
    z-index: 2;

}


.contain::before {
    content: '';
    position: absolute;
    background-image: url('./images/bg-intro-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 500px;
    width: 100%;
    height: 100%;
    background-position: right;
    top: 40px;
}

/* .contain-img .mobile {
    margin-right: -100px;
    right: 0;
    left: 0;
} */